:root {
  --page-bg: #fff;
  --page-padding: 5vh 15vw;

  --grid-card-size: 25%;

  --portfolio-gap: 2rem;

  --border: 1px solid #000;

  --shadow: 8px 8px 0px #000;
  --shadow-link: 8px 8px 0px skyblue;
}

@media screen and (max-width: 1000px) {
  :root {
    --page-padding: 5vh 5vw;
  }
}
